.counterContainer{
    height:45rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
 
 
 .counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 }

 .resSumButt{
     margin:4px auto;
 }